data/pCunPCC1_seed2voxel_zmap_clustered.dtseries.nii
data/pCunPCC1_seed2voxel_zmap.dtseries.nii
*.nii
data/SomMot6_seed2voxel_zmap_clustered.dtseries.nii
data/SomMot6_seed2voxel_zmap.dtseries.nii
data/SomMot6_seed2voxel.dtseries.nii
data/seed2voxel.nii
data/seed2voxel.dtseries.nii
data/.DS_Store
